<template name="SideMenue">
    <aside id='sideMenue' style="position: relative; left: 0px; height: {{sideHeight}}">
        <ul class="sideUlclass">
            <li id="sideFirst" class="sideMain dropdown">
                <div class="sideMainfont">
                    <img src="defaultprofile.jpg">
                </div>
                <a id="profile" data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                    <div>
                        <div class="profileName"><div>{{>uname}}</div></div>
                        <div class="profileteam">동서대학교 <span class="glyphicon glyphicon-triangle-bottom"></span></div>
                    </div>
                </a>
                <ul id="profileDropdown" class="dropdown-menu" style="position: absolute; left: 70px;">
                    <li><a href="" class="profileteam">프로필</a></li>
                    <li><a href="" class="profileteam">친구</a></li>
                </ul>
                <span id="sideMainimg" class={{display}}></span>
            </li>
            <!--<li id="navId" class="sideSize"><span id="Nav" class="sideMargin">Navigation</span></li>-->
        </ul>
        <div>
            <div class="sideMenue-panel">
                Navigation
            </div>
            {{#each Navigation}}
                <a href={{link}}><div class="sideMenue-panel sideMenue-panel-item">{{title}}<span style="float: right" class={{icon}}></span></div></a>
            {{/each}}
        </div>
    </aside>
</template>
