<template name="SideMenue">
    <aside id='sideMenue' style="position: relative; left: 0px;">
        <ul class="sideUlclass">
            <li id="sideFirst" class="sideMain dropdown">
                <div class="sideMainfont">
                    <img src="defaultprofile.jpg">
                </div>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                    <div>
                        <div>배성원</div>
                        <div>동서대학교</div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">프로필</a></li>
                    <li><a href="">친구</a></li>
                </ul>
                <span id="sideMainimg" class={{display}}></span>
            </li>
            <li id="navId" class="sideSize"><span id="Nav" class="sideMargin">Navigation</span></li>
        </ul>
    </aside>
</template>