<template name="SideMenue">
    <aside id='sideMenue' style="position: relative; left: 0px;">
        <ul class="sideUlclass">
            <li id="sideFirst" class="sideMain">
                <div class="sideMainfont">
                    <img src="../../public/img/defaultprofile.jpg">
                </div>
                <span id="sideMainimg" class={{display}}></span>
            </li>
            <li id="navId" class="sideSize"><span id="Nav" class="sideMargin">Navigation</span></li>
        </ul>
    </aside>
</template>