<template name="TopHeader">
    <div class="topBar">
        <div>
            <div style="float: left;">
                <div><strong style="font-size:18px;">Music fan</strong></div>
                <div style="font-size:11px;">탑 서브 타이틀!</div>
            </div>
            <div style="float: right;">
                <input type="checkbox">음성인식
                <div style="float: left; margin-top: 16px; margin-right: 20px;">
                    {{> loginButtons}}
                </div>
                <div class="form-group form-group label-floating is-empty" style="float:right; margin: 12px 0 0 0;">
                    <label for="i4" class="control-label">Search</label>
                    <input id="searchInput" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</template>