<template name="TopHeader">
    <div class="topBar">
        <div>
            <div style="float: left;">
                <div><strong style="font-size:18px;">탑 메인 타이틀</strong></div>
                <div style="font-size:11px;">탑 서브 타이틀!</div>
            </div>
            <div style="text-align: center; margin-top: 10px; float: right; width: 80px; height: 30px; border-radius: 10px; background-color: darkslategrey; color: #D0D0B0;">
                로그인 자리
            </div>
        </div>
    </div>
</template>