<template name="MainYoutube">
    <div style="background-color: white; width: 100%; height: 300px;">
        <iframe id="player" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/6CM5iC_isug?enablejsapi=1&amp;origin=http%3A%2F%2Flocalhost%3A3000"></iframe>
        <div class="glyphicon glyphicon-menu-hamburger" style="position: absolute; color: #01579b; font-size: 20px; cursor: pointer; right: -10px;"></div>
        <!--<div style="width: 50%; height: 100%; background-color: white; position: absolute; right: 0px;">-->
            <!---->
        <!--</div>-->
    </div>
</template>